<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" 
		src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=2yf3rqafqw"></script>
	<meta charset="utf-8"/>
	<title>좌표 1개</title>
</head>
<body>
	<div id="map" style="width:100%; height:800px;"></div>
	<script>
		var map = new naver.maps.Map('map', {
		    center: new naver.maps.LatLng(34.7995, 126.3829), // 목포 대성동 
		    zoom: 16
		});

		
		var marker = new naver.maps.Marker({
		    position: new naver.maps.LatLng(34.7995, 126.3802), // 목포대성초등학교 마커
		    map: map
		});
	</script>
</body>
</html>